{% extends "base.html" %}


{% block main %}
{% include "header.html" %}
{% include "sidebar.html" %}

<!-- ======= Main ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Registered <span>| Vehicles </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-truck"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ number_of_vehicle }}</h6>
                      <span class="text-success small pt-1 fw-bold">All Typesl</span> <span class="text-muted small pt-2 ps-1"></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Clean <span>| Vehicles </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-front"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ clean_vehicles }}</h6>
                      <span class="text-success small pt-1 fw-bold">{{ clean_percentage }}%</span> <span class="text-muted small pt-2 ps-1">Total</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Dept <span>| vehicles </span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-ban"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ dept_vehicles }}</h6>
                      <span class="text-danger small pt-1 fw-bold">{{ dept_percentage }}%</span> <span class="text-muted small pt-2 ps-1">Total</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Vehicles List -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">List of Vehicles <span> </span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vehicle Model</th>
                        <th scope="col">Vehicle Type</th>
                        <th scope="col">Vehicle Owner</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for vehicle in vehicles %}
                      <tr>
                        <th scope="row"><a href="#">{{ vehicle.plate_number }}</a></th>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.type }}</td>
                        <td>{{ vehicle.owner }}</td>
                        <td>{% if vehicle.status == "Clean" %}<span class="badge bg-success">Clean</span>
                          {% else %}<span class="badge bg-danger">Dept</span>{% endif %}</td>
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Vehicles List -->

             <!-- Owner List -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">List of Registered Owners <span> </span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for owner in owners %}
                      <tr>
                        <th scope="row"><a href="#">{{ owner.id }}</a></th>
                        <td>{{ owner.first_name }}</td>
                        <td>{{ owner.last_name }}</td>
                        <td>{{ owner.email }}</td>
                        <td>{{ owner.phone }}</td>
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Owner List -->



            {% comment %} <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Reports <span></span></h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'Clean',
                          data: [31, 40, 28, 51, 42, 82, 56],
                        }, {
                          name: 'Dept',
                          data: [11, 32, 45, 32, 34, 52, 41]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#2eca6a', '#db0804'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'datetime',
                          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                        },
                        tooltip: {
                          x: {
                            format: 'dd/MM/yy HH:mm'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports --> {% endcomment %}

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% include "footer.html" %}
{% endblock %}
