{% extends "base.html" %}

{% block main %}
{% include "header.html" %}
{% include "sidebar.html" %}
<div class="main">

    <!-- ======= Main ======= -->
    <main id="main" class="main">

        <!-- Display the uploaded image -->
        <img id="preview" src="" alt="License Plate Image" style="display: none; max-width: 100%; height: auto;">

        <!-- Display the form for uploading an image -->
        <form class="mb-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="formFile" class="form-label">License Plate Image</label>
                <input class="form-control" name="license_plate" type="file" id="formFile" onchange="previewFile()">
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <!-- Display the result if available -->
        {% if result %}
            <div class="mt-3">
                <h3>Recognition Result:</h3>
                <p>{{ result }}</p>
            </div>
        {% endif %}

    </main>
    <!-- End Main -->

<script>
    function previewFile() {
    const preview = document.querySelector('#preview');
    const file = document.querySelector('input[type=file]').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", function () {
        // convert image file to base64 string
        preview.src = reader.result;
        preview.style.display = "block";
    }, false);

    if (file) {
        reader.readAsDataURL(file);
    }
}
</script>

{% include "footer.html" %}
{% endblock main %}


