 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url "dashboard" %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url "owner_create" %}">
          <i class="bi bi-person"></i>
          <span>Register Owner</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url "vehicle_create" %}">
          <i class="bi bi-truck"></i>
          <span>Register Vehicle</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url "recognition" %}">
          <i class="bi bi-view-list"></i>
          <span>Recognition</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->