{% extends "base.html" %}

{% block main %}
{% include "header.html" %}
{% include "sidebar.html" %}
<div class="main">

    <!-- ======= Main ======= -->
    <main id="main" class="main">

         <!-- Multi Columns Form -->
        <form class="row g-3" method="post" enctype="multipart/form-data" action="{% url 'vehicle_create' %}">
            {% csrf_token %}
            <div class="col-md-12">
                <label for="owner" class="form-label">Owner</label>
                {{ form.owner }}
                {% if form.owner.errors %}
                    <div class="invalid-feedback">
                        {{ form.owner.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="plate_number" class="form-label">Plate Number</label>
                {{ form.plate_number }}
                {% if form.plate_number.errors %}
                    <div class="invalid-feedback">
                        {{ form.plate_number.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="type" class="form-label">Vehicle Type</label>
                {{ form.type }}
                {% if form.type.errors %}
                    <div class="invalid-feedback">
                        {{ form.type.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="model" class="form-label">Model</label>
                {{ form.model }}
                {% if form.model.errors %}
                    <div class="invalid-feedback">
                        {{ form.model.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="status" class="form-label">Status</label>
                {{ form.status }}
                {% if form.status.errors %}
                    <div class="invalid-feedback">
                        {{ form.status.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form><!-- End Multi Columns Form -->

    </main>
 
{% include "footer.html" %}
{% endblock main %}
